<article>

  <h1 *ngIf="post">
    {{ post.title.rendered }}
  </h1>

  <div #content [innerHTML]="postContent"></div>

  <ol id="comments">
    <ng-template #recursiveList let-comments>
      <li *ngFor="let comment of comments">
        <h6>{{comment.author_name}} at {{comment.date | date: 'MMM d, y, h:mm a' }}</h6>
        <p [innerHTML]="comment.content.rendered"></p>
        <a (click)="postComment(comment)">Reply!</a>
        <ul *ngIf="comment.children.length > 0">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: comment.children }"></ng-container>
        </ul>
      </li>
    </ng-template>
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: comments }"></ng-container>
  </ol>

  <span>Comments Pagination</span>
  <nav>
    <ul>
      <li 
      *ngFor="let count of commentsPageCount; let i = index" 
      [routerLink]="'/' + post.slug + '/comments-page/' + (i+1)"
      >
      {{i+1}}
      </li>
    </ul>
  </nav>

  <div *ngIf="adjcentPosts">
    <strong>Previous Post:</strong>
    <a [routerLink]="'/' + adjcentPosts.previous.slug" [innerHTML]="adjcentPosts.previous.title.rendered"></a>
    <br/>
    <strong>Next Post:</strong>
    <a [routerLink]="'/' + adjcentPosts.next.slug" [innerHTML]="adjcentPosts.next.title.rendered"></a>
  </div>

  <div *ngIf="!post">
    no post found
  </div>

</article>